@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    
    <h1 class="display-4">Welcome</h1>
    <p>PDF testing</p>
    <p>
        <span class="css-mode">CSS in mode: </span>
    </p>
</div>
<div>
    <p id="js-test">
        Text comes from HTML.
    </p>
</div>
